:root{
    --color-primario : #0181818;
    --color--secundario : #f0f0f0;
    /*Tipografia*/
    --tipo-titular: 'Roboto', sans-serif;
    --tipo-principal: 
    }
    /*Adaptar al modo oscuro*/
    @media (prefers-color-scheme: dark){
        :root{
            --color-primario: #f0f0f0;    
            --color--secundario: #181818;   
        }
    }
    
    @media (prefers-contrast: high){
        :root{
            --color-primario: #black;  /*Color rojo para textos en contraste alto*/    
            --color--secundario: #white;   /*Color blanco para fondos en contraste alto*/
        }
    }
    
    @media (prefers-reduced-motion: reduce){
        * {
            animation: none;
            transition: none;
        }
    }
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        vertical-align: baseline;
        font-family: 'Raleway', sans-serif;
        
    }
    
    img, picture, video, iframe, figure{
        max-width: 100%;
        width: 100%;
        display: flex;
        object-fit: cover;
        object-position: center center;
    }
    
    a {
        display: block;
    }
    
    p a {
        display: block;
    }
    
    li{
        list-style-type: none;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
        font-size: 1em;
        font-weight: inherit;
        font-style: inherit;
        text-decoration: none;
        color: inherit;
    }
    
    blockquote::before, blockquote:after, q:before, q:after{
        content: '';
        content: none;
    }
    
    ::selection{
        background-color: var(--color-primario);
        color: var(--color--secundario);
    }
    /*Nivelar problemas de tipografia y colocacion de formularios*/
    form, input, textarea, select, button, label{
        font-family: inherit;  
        font-size: inherit;
        hyphens: auto;
        background-color: transparent;
        display: flex;
        color: inherit;
        appearance: none;
    }
    
    table, tr, td {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    svg{
        width: 100%;
        display: block;
        fill: currentColor;
    }
    
    /*Tipografia para la web*/
    body{
        min-height: 100vh;
        font-size: 100%;
        font-family: var(--tipo-principal);
        color:  var(var(--color-primario));
        background-color: var(--color-secundario);
        line-height: 1.4em;
        font-smooth: always;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .header{
        width: 100%;
        height: 10vh;
        background-color:ghostwhite;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
    }
    .header-a{}
    .header-img{
        width: 8em;
        height: 3em;
        filter: grayscale(100%);
        
    }
    .header :hover{
        filter: grayscale(0%);
    }
    .header-ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .header-li{
        margin: 0 0 0 2rem;
    }
    
    .main{
        background-image: url(../img/toronto_gray.jpg);
        background-size: cover;
        background-attachment: fixed;
        max-width: 100%;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 45em;
        
    }
    .main-img{}
    .container{
        width: 60%;
        max-width: 45em;
        padding: 0 5em 5em 0;
        margin: 1em;
    }
    .container .ul{
        width: 100%;
        background-color: #0f1618;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .container .licor{
        background-color: #0f1618;
        color: whitesmoke;
        padding: 0.5em 2em 0.5em 2em;    
        text-transform: uppercase;
        cursor: pointer;
        font-size: 13px;
    }
    .container .licor.active{
        background-color: #dc191e;
        transition: all 0.5s ease;
        color: white;
    }
    .licor:hover{
        background-color: rgb(163, 161, 161);
        color:#0f1618;
    }
    .container .subcontainer{
        background-color: ghostwhite;
        min-height: 25em;
        position: relative;  
        
    }
    .subcontainer .block{
    
        margin: 1em;
        position: absolute;
        width: 95%;
        opacity: 0;
    }
    .subcontainer .block.active{
        opacity: 1;
    }
    .subcontainer-label{
        font-size: 13px;
        padding-right: 0.5em;
    }
    .block-h3{
        margin: 0em 0em 0.3em 0em;
        font-size: 1.1em;
        width: 95%;
    }
    .block-input{
        background-color: aliceblue;
        margin-bottom: 0.6em;
        border: .1em solid rgb(163, 161, 161);
        border-radius: 0.2em;
        width: 90%;
        padding: 0.2em;
    }
    .block-input.short{
        max-width: 9em;
    }
    .button{
        background-color: rgb(90, 89, 89);
    
        padding: 10px 20px 30px 20px;
        font-size: 16px;
        border: none;
        height: 2em;
        width: 6em;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        letter-spacing: 0.1em;
    }
    .space{
        height: 30px;
        background: linear-gradient(rgb(53, 52, 52, 0.986),black);
    }
    .footer{
        background-color:#020202fb;
        
        padding: 1em 1em;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    .footer .subcontainer-short{
        margin: 0.2em 5em;
        
    }
    .footer.subcontainer-short .h3{
        font-size: 30px;
        margin-bottom: 0.5em;
        color: white;
        
        
    }
    .footer .subcontainer-short .p{
        padding-top: 0.5em;
        color: white;
    }
    .form-footer{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .footer-label{}
    .footer-input{
        background-color: white;
        margin-top: 1em;
        border: .1em solid rgb(163, 161, 161);
        border-radius: 0.1em;
        width: 90%;
        padding: 0.9em;
    }
    .footer .subcontainer-long{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
    }
    .footer-h4{
        text-align: center;
        font-size: 20px;
        width: 10em;
        color: rgb(129, 128, 128);
    }
    .footer-a{
        display: block;
        transition: all 1s ease;
        text-align: center;
        margin: 0.3em 0;
    }
    .footer-div-rrss{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-svg{
        width: 2em;
        height: 2em;
        margin: 1em;
        color: rgb(129, 128, 128);
    }
    .footer.p{
        color: rgb(129, 128, 128);
    }


    form.block{
        display: inline-block;
    }
    #moving{
        opacity: 1;
    }



    @media (max-width:903px) {
        .container{
            padding: 0;
        }
        .container .licor{
            width: 100%;
            text-align: center;
        }
        .footer{
            padding-left: 1em;
        }
        .footer.p{
            font-size: 11px;
            width: 15em;
        }

    }
    @media (min-height:800px){
        .main{
            background-size: 115em;
            
        }
    }